<div class="loader-box" *ngIf="loading">
  <div class="loader"></div>
</div>

<div class="user-list-container">

  <mat-card style="width: 80%">
    <div class="center">
      <mat-card-title class="mt-1 mb-1">All User</mat-card-title>
      <div class="user-list-box">
        <div class="user-info-row">
          <span> image </span>
          <span> name </span>
          <span> email </span>
          <span> phone </span>
          <span> Actions </span>
        </div>

        <div *ngFor="let user of userList" class="user-info-row">
          <span><img width="60%" src="{{serverUrl}}{{ user.image}}" alt="{{ user.name}}"></span>
          <span>{{ user.name}}</span>
          <span> {{ user.email}} </span>
          <span> {{ user.phone}} </span>
          <span class="actions">

            <button style="margin-right: 5px" mat-raised-button color="primary"
                    (click)="redirectToDetailsView(user?.id || 0)"><mat-icon>remove_red_eye</mat-icon></button>
            <button style="margin-right: 5px" mat-raised-button color="primary"
                    (click)="redirectToUpdateView(user?.id || 0)"><mat-icon> border_color</mat-icon></button>
            <button mat-raised-button color="warn" (click)="removeUser(user.id)"><mat-icon>delete_forever</mat-icon></button>
          </span>
        </div>
      </div>

    </div>

    <div class="center">
      <div class="pagination">
        <a (click)="pageChange(currentPage-1)" [class.disabled]="currentPage<2">&laquo;</a>
        <a (click)="pageChange(page)" *ngFor="let page of pageList" [class.active]="currentPage === page">{{page}}</a>
        <a (click)="pageChange(currentPage+1)"  [class.disabled]="currentPage===totalPage">&raquo;</a>
      </div>
    </div>

  </mat-card>
</div>
