.user-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.user-list-box {
  display: flex;
  justify-content: center;
  /*gap: 20px;*/
  flex-direction: column;
}
.user-info-row {
  display: flex;
  margin: 10px 0;
  padding: 10px 0;
  /*justify-content: space-between;*/
  line-height: 30px;
  background: #F4FAFF;
}
.user-info-row span {
  width: 25%;
  overflow-wrap: break-word;
}
.actions{
  width: 25% !important;
  display: flex;
  flex-wrap: wrap;
  /*padding: 18px 0 !important;*/
}
.actions button{
  max-width: 30% !important;
  height: 40px;
  /*padding: 18px 0 !important;*/
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
