.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /*height: 90vh;*/
  width: 100%;
  margin-top: 20px;
}

.disabled {
  background: #ddd !important;
}
.login-box{
  width: 40%;
}
.login-button{
  background: #47A7FF;
  color: #fff;
  border-radius: 5px;
}
