<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!--  <span>HOME</span> -->
    <span><a routerLink="/"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
</a></span>
    <span class="spacer"></span>
    <div *ngIf="isLogged">
      <a mat-button routerLink="/user/list">User List</a>
      <a mat-button routerLink="/user/add">Add User</a>
      <a mat-button (click)="logout()">logout</a>
    </div>
    <a *ngIf="!isLogged" mat-button routerLink="/login">Login</a>
  </mat-toolbar-row>
</mat-toolbar>

<!--activate,deactivate event for listening to login page for new login and change nav-bar -->
<router-outlet (activate)="newLogIn($event)" (deactivate)="unsubscribe()"></router-outlet>
